<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add new password - Password Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .navbar {
            color: white; !important;
        }

        .container {
            max-width: 400px;
            margin-top: 50px;
        }

        .username {
            margin-right: 5px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand">Password Manager</a>
    <form method="get" action="logout">
        <span class="font-weight-bold username" sec:authentication="name"></span>
        <button type="submit" class="btn btn-light">Logout</button>
    </form>
</nav>
<div class="container">
    <form th:action="@{/add_password}" th:object="${servicePassword}" class="form-signin" method="POST">
        <h2 class="form-signin-heading">Add new password</h2>
        <p>
            <label for="url" class="sr-only">URL</label>
            <input th:field="*{url}" type="url" id="url" name="url" class="form-control" placeholder="URL" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">URL password</label>
            <input th:field="*{password}" type="password" id="password" name="password" class="form-control" placeholder="URL password"
                   required="">
        </p>
        <p>
            <label for="masterPassword" class="sr-only">Confirm password</label>
            <input th:field="*{masterPassword}" type="password" id="masterPassword" name="masterPassword" class="form-control" placeholder="Your master password"
                   required="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save password</button>
        <p>Return to <a th:href="@{/dashboard}">dashboard</a></p>
        <div style="margin-top: 20px" th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger" role="alert"></div>
        <div style="margin-top: 20px" th:each="err : ${#fields.errors()}" th:text="${err}" class="alert alert-danger"></div>
    </form>
</div>
</body>
</html>