<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .top-buffer {
            margin-top: 30px;
        }

        .navbar {
            color: white; !important;
        }

        .table {
            margin-top: 15px;
        }

        .modal-body {
            padding: 30px 100px;
        }

        .modal-body > button {
            width: 60%;
            margin-top: 20px;
            margin-left: 55px;
        }

        #add-password {
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand">Password Manager</a>
        <form method="get" action="logout">
            <button type="submit" class="btn btn-light">Logout</button>
        </form>
    </nav>
    <div class="container">
        <div style="margin-top: 20px" th:if="${showPasswordErrorMessage != null}" th:text="${showPasswordErrorMessage}" class="alert alert-danger" role="alert"></div>
        <div style="margin-top: 20px" th:each="unverifiedDevice: ${unverifiedDevices}">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <span>There has been log in to your account from unknown device: <span class="font-weight-bold" th:text="${unverifiedDevice.details}"></span> on <span class="font-weight-bold" th:text="${unverifiedDevice.lastLoggedIn}"></span><span>. If it was you,
                 click Verify device button. If it wasn't you, change your password immediately.</span></span>
                <form th:action="@{/verify_device}" th:object="${unverifiedDevice}" method="POST">
                    <input type="hidden" th:value="${unverifiedDevice.id}" th:attr="name='id'" class="form-control"  required="">
                    <input type="hidden" th:value="${unverifiedDevice.details}" th:attr="name='details'" class="form-control"  required="">
                    <input type="hidden" th:value="${unverifiedDevice.lastLoggedIn}" th:attr="name='lastLoggedIn'" class="form-control"  required="">
                    <button class="btn btn-warning btn-sm" type="submit">Verify device</button>
                </form>

                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <form class="form-signin" th:action="@{/add_password}" method="get">
            <button id="add-password" type="submit" class="btn btn-primary">
                Add password
            </button>
        </form>
        <table class="table table-striped top-buffer">
            <thead>
            <tr>
                <th scope="col">URL</th>
                <th scope="col">Password</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="passwordEntry: ${servicePasswordList}" th:attr="id=${'passwordModal' + passwordEntry.id}">
                <td><a th:href="${passwordEntry.url}"><span th:text="${passwordEntry.url}"/></a></td>
                <td><span th:text="'**********'"/></td>
                <td><button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target=${'#passwordModal'+passwordEntry.id}" data-row="${passwordEntry}">
                    Show password
                </button></td>
                <div class="modal fade" th:attr="id=${'passwordModal' + passwordEntry.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Enter your master password</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/show_password}" th:object="${showPasswordRequest}" class="form-signin" method="POST">
                                    <input type="hidden" th:value="${passwordEntry.id}" th:attr="name='servicePasswordId'" id="showPasswordRequest" class="form-control"  required="">
                                    <input type="hidden" th:value="${passwordEntry.url}" th:attr="name='url'" id="url" class="form-control"  required="">
                                    <input type="password" th:field="*{masterPassword}" id="masterpassword" class="form-control" placeholder="Master password" required="">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Show password</button>
                                </form>
                            </div>
<!--                            <div class="modal-footer">-->
<!--                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </tr>
<!--            <tr>-->
<!--                <th scope="row">2</th>-->
<!--                <td>Jacob</td>-->
<!--                <td>Thornton</td>-->
<!--                <td><button type="button" class="btn btn-primary">Show password</button></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th scope="row">3</th>-->
<!--                <td>Larry</td>-->
<!--                <td>the Bird</td>-->
<!--                <td><button type="button" class="btn btn-primary">Show password</button></td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>