<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Register - Password Manager</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <form th:action="@{/register}" th:object="${user}" class="form-signin" method="POST">
    <h2 class="form-signin-heading">Register an account</h2>
    <p>
      <label for="username" class="sr-only">Username</label>
      <input th:field="*{username}" type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
             autofocus="">
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input th:field="*{password}" type="password" id="password" name="password" class="form-control" placeholder="Password"
             required="">
    </p>
    <p>
      <label for="passwordConfirmation" class="sr-only">Confirm password</label>
      <input th:field="*{confirmationPassword}" type="password" id="passwordConfirmation" name="passwordConfirmation" class="form-control" placeholder="Confirm password"
             required="">
    </p>
    <p>
      <label for="masterPassword" class="sr-only">Master Password</label>
      <input th:field="*{masterPassword}" type="password" id="masterPassword" name="masterPassword" class="form-control" placeholder="Master password"
             required="">
    </p>
    <p>
      <label for="confirmationMasterPassword" class="sr-only">Master Password</label>
      <input th:field="*{confirmationMasterPassword}" type="password" id="confirmationMasterPassword" name="confirmationMasterPassword" class="form-control" placeholder="Confirm master password"
             required="">
    </p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    <p>Already have an account? <a th:href="@{/login}">Log in!</a></p>
    <div style="margin-top: 20px" th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger" role="alert">
    </div>
    <div style="margin-top: 20px" th:each="err : ${#fields.errors()}" th:text="${err}" class=" alert alert-danger"></div>
  </form>
</div>
</body>
</html>