<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Your Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        html {
            background-color: white;
        }

        .navbar {
            color: white; !important;
        }

        .container {
            margin-top: 20px;
        }

        .result {
            font-size: 48px;
        }

        .username {
            margin-right: 5px;
        }
    </style>
    <script>
        function copyToClipBoard() {
            const password = document.getElementById("password-span").innerHTML;
            navigator.clipboard.writeText(password);
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary justify-content-between">
        <a class="navbar-brand">Password Manager</a>
        <form method="get" action="logout">
            <span class="font-weight-bold username" sec:authentication="name"></span>
            <button type="submit" class="btn btn-light">Logout</button>
        </form>
    </nav>
    <div class="container text-center">
        <p class="result">URL: <a th:href="${decryptedPassword.url}"><span class="font-weight-bold font" th:text="${decryptedPassword.url}"></span></a></p>
        <p class="result">Password: <span id="password-span" class="font-weight-bold" th:text="${decryptedPassword.password}"></span></p>
        <button class="btn btn-secondary btn-lg" onclick="copyToClipBoard()">Copy password</button>
        <p>Return to <a th:href="@{/dashboard}">dashboard</a></p>
    </div>

<!--    <script src="../script/copyToClipBoard.js"></script>-->
</body>
</html>